<div class="row" ng-controller='playerList'>
     <div class='col-sm-10' id='tb'>
        
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player Name</th>
                    <th>Country</th>
                    <th>Type</th>
                
                </tr> 
             
            </thead>
            <tbody>
                <tr ng-repeat="x in [3,4,5,6,7,8,78,56,34,62]" ui-sref=".playerList({player:x})">
                    <th>{{$index}}</th>
                    <td>Inzamam</td>
                    <td>Batsman</td>
                    <td>Bat</td>
                </tr>     
             
            </tbody> 
         
         </table>
          
         
     </div>

</div>